<!DOCTYPE html>
<html>
  <head>
    <title>Create New Item</title>
    <link rel="stylesheet" href="/create_item.css" title="text/css">
    <link rel="stylesheet" href="/item_main.css" title="text/css">
  </head>
  <body>
    <header>
    </header>
    <div class="secondary-header">
      <h1>Items</h1>
    </div>
    <div class="box">
      <form class="new-item" action="/items/new" method="POST">
        <p>Merchant</p>
        <input type="text" name="item[merchant_id]" placeholder="Merchant">
        <p>Title</p>
        <input type="text" name="item[title]" placeholder="Year">
        <p>Description</p>
        <input type="text" name="item[description]" placeholder="Sales">
        <p>Price</p>
        <input type="number" name="item[unit_price]" placeholder="Price">
        <p>Image URL</p>
        <input type="text" name="item[image]" placeholder="Image URL">
        <br>
        <br>
      </form>
      <button id="cancel-button" onclick="location.href='/'" method="GET">Cancel</button>
      <button id="create-button" onclick="location.href='/items/'">Submit</button>
    </div>
  </body>
</html>
