<!DOCTYPE html>
<html>
  <head>
    <title>All Items</title>
    <link rel="stylesheet" href="/common_header.css" title="text/css">
    <link rel="stylesheet" href="/secondary_header.css" title="text/css">
    <link rel="stylesheet" href="/item_main.css" title="text/css">
  </head>
  <body>
    <header>
      <h3>
        <form>
          <a href='/' class="homepage-link">Little Shop</a>
          <a href="/invoices">Invoices</a>
          <a href="/items">Items</a>
          <a href="/merchants">Merchants</a>
        </form>
      </h3>
    </header>
    <div class="secondary-header">
      <a href="/items/dashboard" method="GET">Dashboard</a>
      <h1>Items</h1>
      <form>
        <button formaction="/items/new" type="submit">Create a New Item</button>
      </form>
    </div>
    <div class="flex-container">
      <% @items.each do |item| %>
        <div id="individual-item">
          <a href="/items/<%= item.id %>">
            <img src='<%= item.image%>' alt="Guy looks at phone with girl">
            <div class="name"><%= item.name %></div>
          </a>
          <div class="price">$<%= '%.2f' % (item.unit_price.to_f/100) %></div>
        </div>
      <% end %>
    </div>
  </body>
</html>