<link rel="stylesheet" href="/common_header.css" title="CSS" type="text/css" />
<div style="width:100%;height:100%;border:3px solid #000;">
  <center>
    <h3> Little Shop</h3>
      <button class = 'invoices'onclick="location.href='/invoices'" type="button"> Invoices</button>
      <button class = 'items'onclick="location.href='/items'" type="button"> Items</button>
      <button class = 'merchants'onclick="location.href='/merchants'" type="button"> Merchants</button>
  </center>
</div>
