<link rel="stylesheet" href="/common_header.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="/homepage.css" title="CSS" type="text/css"/>

<div style="width:100%;height:100%;border:3px solid #000;">
  <center>
    <h3>Little Shop</h3>
    <form>
      <button class='invoices' formaction="/invoices" type="submit">Invoices</button>
      <button class='items' formaction='/items' type="submit">Items</button>
      <button class='merchants' formaction='/merchants' type="submit">Merchants</button>
    </form>
  </center>
</div>