.invoices{
  background-color: pink;
  height: 400px;
  width: 400px;
}

.items{
  height: 400px;
  background-color: dimgray;
  width: 400px;
}

.merchants{
  height: 400px;
  background-color: yellow;
  width: 400px;
}
