header button {
  float: right;
}

a {
  margin-left: 12px;
  font-size: 20;
  float: right;
  text-decoration: none;
}

a.name {
  float: left;
  font-size: 23;
  padding-left: 10;
}

header {
  width: relative;
  height: 40px;
  border: 3px solid black;
}