
.invoices {
  border: 3px solid red;
  background-color: pink;
}

.items {
  border: 3px solid dimgray;
  background-color: pink;
}

.merchants {
  border: 3px solid green;
  background-color: pink;
}

header {
  width: relative;
  height: 40px;
  border: 3px solid black;
}

h3 a {
  appearance: button;
  float: right;
  text-decoration: none;
  padding-right: 10px;
}

header a.homepage-link {
  float: left;
  padding-left: 10px;
}
.name {
  margin-left: 10px;
  float: left
}
