img {
  margin-top: 90px;
  float: left;
  position: absolute;
  left: 0;
}

.column {
  text-align: left;
  float: left;
  width: 50%;
  height: 100%;
}

h5 {
  padding-top: 10px;
  font-size: 25px;
}

p {
  float: left;
}

#item-name {
  padding-top: 25px;
  float: left;
}