img {
  display: block;
  width: 69%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.name {
  padding: 15px;
  text-align: center;
  line-height: 1.2;
}

.price {
  text-align: center;
  padding-bottom: 45px;
  line-height: 80%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid black;
}

.flex-container>* {
  width: 350px;
  margin: 10px;
  /* width: 25%;
  text-align: left;
  flex: 1 1 80px; */
}
