h1 {
    color: red;
    text-align: center;

  }
h3 {
  color: black;
  bottom: 20px;
}

div {
  color: blue;
}

.editbutton {
  background-color: yellow;
}

.deletebutton {
  background-color: red;
}

.create-button {
  border: 1px solid red ;
  box-shadow :red ;
  background-color: pink;
}

form {
}
