h1 {
    color: red;
    text-align: center;

  }
h3 {
  color: black;
  bottom: 20px;
}

div {
  color: blue;
}

/* .submission-box {
  display: flex;
  background-color: blue;
  justify-content: space-around;
} */

.editbutton {
  background-color: yellow;
}

.items {

}

.deletebutton {
  background-color: red;
}

.create-button {
  text-align: center;
  border: 7px solid green ;
  background-color: pink;
}
.submit-button {
  text-align: center;
  border: 7px solid green ;
  background-color: pink;
}
.cancel-button {
  text-align: center;
  border: 7px solid red ;
  background-color: pink;
}

.invoices{
  border: 3px solid red ;
  background-color: pink;
}

.items{
  border: 3px solid dimgray ;
  background-color: pink;
}

.merchants{
  border: 3px solid green ;
  background-color: pink;
}
