<link rel="stylesheet" href="/invoice.css" title="CSS" type="text/css" />
<link rel="stylesheet" href="/common_header.css" title="CSS" type="text/css" />

<header>
  <h3>
    <a href='/'>Little Shop</a>
    <button class ="invoices" onclick="location.href='/invoices'" type="button"> Invoices</button>
    <button class ="items" onclick="location.href='/items'" type="button"> Items</button>
    <button class="invoices" onclick="location.href='/merchants'" type="button"> Merchants</button>
  </h3>
</header>

<div style="width:relative;height:100px;border:3px solid #000;">
  <center>
  <h1> Invoices </h1>
  <center>
</div>


<% @invoices.each do |invoice| %>
<center>
  <form action="/invoices/<%=invoice.id%>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <div style="width:1000px;height:25px;border:3px solid #000;">
      <a href='/invoices/<%=invoice.id%>' style="float:left;"><%= invoice.id%></a>
      <button style="float:right;" type="submit" class='deletebutton'> Delete</button>
      <button style="float:right;" class='editbutton' href='/invoices/<%=invoice.id%>/edit'> Edit</button>
    </div>
  </form>
</center>

<br>
<% end %>
