<link rel="stylesheet" href="/merchant.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="/common_header.css" title="CSS" type="text/css"/>


<div style="width:relative;height:40px;border:3px solid #000;">
  <h3>
    <a class="name" href='/'>Little Shop</a>
    <a href='/invoices'>Invoices</a>
    <a href='/items'>Items</a>
    <a href='/merchants'>Merchants</a>
  </h3>
</div>

<div class="second-box">
  <h1>
    Create New Merchant
  </h1>
</div>

<div style="width:relative;height:100%;border:3px solid #000;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center><div style="width:50%;height:50%;border:3px solid #000;">
    <h3> Name </h3>

    <form class="new-merchant" action="/merchants" method="post">
      <input type="text" name="merchant[name]" placeholder="Enter Name For Merchant">
      <input type="hidden" name="merchant[id]"
      <br>
      <br>
      <br>
      <br>
      <input class="create-button" type="submit" value="Create Merchant">
    </form>
  </div></center>
</div>

