<html>
  <head>
    <%=erb(:'partials/static_links')%>
  </head>

  <body>
    <%=erb(:'partials/nav_bar')  %>
    <div class="second-box">
      <h1>
        Create New Merchant
      </h1>
    </div>

    <div class='first-table-on-create-page'>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <center>
        <div class='second-table-on-create-page'>
          <h3 class="name1">
            Name
          </h3>
          <p><%=@message%></p>
          <form class="new-merchant" action="/merchants" method="post">
            <input class="entername" type="text" name="merchant[name]" placeholder="Enter Name For Merchant">
            <div class="new-merchant-button-container">
            <a class="cancelcreate" href="/merchants">Cancel</a>
            <input class="create-button" type="submit" value="Create Merchant"></div>
          </form>
        </div>
      </center>
    </div>
  </body>
</html>
