<html>
  <head>
    <%=erb(:'partials/static_links')%>
  </head>

  <body>
    <%=erb(:'partials/nav_bar')  %>

    <div class="edit-rectangle">
      <h1>Merchants Dashboard</h1>
    </div>
    <div class="flex-container">
      <div class="middle-box-dash">
        <h1 class="top-merchant" >Merchants with Most Items:</h1>
        <h1 class ="top-revenue">Merchant with Highest Price Item:</h1>
      </div>

      <div class="merchant-container-div">
        <% @merchants.each do |merchant| %>
          <div class="merchant-div">
            <h2 class="ind-merchant"><%=merchant.name%></h2>
            <h3>Item Count:</h3>
            <h4>23</h4>
            <h3>Avg Item Price:</h3>
            <h4>$ 100.02</h4>
            <h3>Total Cost of Items:</h3>
            <h4>$ 100.00</h4>
          </div>
        <% end %>
      </div>
    </div>
      <br>
  </body>
</html>
