<form class="update_merchant" action="/merchants/<%=@merchant.id%>" method="post">
  <input type="text" name="merchant[name]" placeholder="Please Enter New Name">
  <input type="submit" value="Submit">
</form>
