<link rel="stylesheet" href="/merchant.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="/common_header.css" title="CSS" type="text/css"/>
<div style="width:relative;height:40px;border:3px solid #000;">
  <h3>
    <a class="name" href='/'>Little Shop</a>
    <a href='/invoices'>Invoices</a>
    <a href='/items'>Items</a>
    <a href='/merchants'>Merchants</a>
  </h3>
</div>
<div class="edit-rectangle" style="width:relative;height:100px;border:3px solid #000;">
  <h1>Edit
    <%=@merchant.name%></h1>
</div>
<div style="width:relative;height:100%;border:3px solid #000;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
    <div style="width:50%;height:50%;border:3px solid #000;">
      <h3 class="name1">
        Name
      </h3>
      <form class="update_merchant" action="/merchant/<%=@merchant.id%>" method="post">
        <input class="entername" type="text" name="merchant[name]" placeholder="Please Enter New Name">
        <br>
        <br>
        <br>
        <br>
        <input class="create-button" type="submit" value="Update Merchant">
        <a class="cancelcreate" href="/">Cancel</a>
      </form>
    </div>
  </center>
</div>

<!-- <div style="width:relative;height:100%;border:3px solid #000;"> <center> <div style="width:50%;height:50%;border:3px solid #000;"> <h3 class="new-name"> Name </h3> <form class="update_merchant" action="/merchant/<%=@merchant.id%>" method="post">
<input type="text" name="merchant[name]" placeholder="Please Enter New Name"> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <input class="submit-button" type="submit" value="Submit"> </form> </div> <button
class="cancel-button" onclick="location.href='/merchants'">Cancel</button> </center> </div> -->