<link rel="stylesheet" href="/merchant.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="/common_header.css" title="CSS" type="text/css"/>
<div style="width:relative;height:40px;border:3px solid #000;">
  <h3>
    <a class="name" href='/'>Little Shop</a>
    <a href='/invoices'>Invoices</a>
    <a href='/items'>Items</a>
    <a href='/merchants'>Merchants</a>
  </h3>
</div>

<div class="merchant-middle-header">
  <a class="dashboard" href='/'>Dashboard</a>
  <h1>Merchants</h1>
  <center>
    <form>
      <button class="creater-button" formaction="/merchants/new" type="submit">Create A New Merchant</button>
    </form>
  </center>
</div>

<br>

<% @merchants.each do |merchant| %>
  <center>
    <div style="width:1000px;height:25px;border:3px solid #000;">
      <form action="/merchants/<%=merchant.id%>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <a href='/merchants/<%=merchant.id%>' style="float:left;"><%= merchant.name%></a>
        <button style="float:right;" type="submit" class='deletebutton'>
          Delete</button>
      </form>
      <button style="float:right;" class='editbutton' onclick="location.href='/merchants/<%=merchant.id%>/edit'">
        Edit</button>
    </div>
  </center>

  <br>
<% end %>